<!-- report/_part/nav/logo -->

<a href="admin" class="logo" title="Report">
    <span class="logo-mini"><b>R</b></span>
    <span class="logo-lg"><%- _module.app.getTitle() %>.<b>Report</b></span>
</a>