<% layout(_view.get('_layout/content')) %>

<% block('title', 'Аналитика приложения') %>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Результат</h4>
    </div>
    <div class="panel-body">
        <p>

        </p>
    </div>
</div>