<% layout(_view.get('_layout/content')) %>

<% block('title', 'Аналитика приложения') %>

<div class="folder card">
    <div class="card-header">
        Результат
    </div>
    <div class="card-body">
        <p>
        </p>
    </div>
</div>